<h2>Products</h2>
<div *ngFor="let product of products; index as productId">
  <p class=custom-paragraph>
    <a [title]="product.name + ' details.'" [routerLink]="['/products',productId]">
    {{product.name}}
    </a>
  </p>
  <p *ngIf="product.description">
    Description: {{product.description}}
    </p>
    <p *ngIf="product.price">
      ${{product.price}}.00
      </p>
<br>
<a class="custom-button" (click)="superShare()">Add to Cart</a>
<app-product-alerts [product]="product" (notice)="onNotify()"></app-product-alerts>
</div>




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->